<section id="home" class="flex flex-col items-center mx-auto max-w-4xl">
  <h1 class="text-5xl text-center font-semibold my-5">Acorta tus enlaces de forma rápida y sencilla</h1>
  <p class="text-xl font-light mb-5">Convierte URLs largas en enlaces cortos y fáciles de compartir. Rápido, seguro y sin tarjetas.</p>

  <div class="flex justify-center items-center w-full mb-10 gap-10">
    <button (click)="changeForm('create')" type="button" class="py-1 px-2 bg-gradient-to-br from-primary to-secondary rounded-full min-w-40 text-accent hover:cursor-pointer hover:contrast-125">Crea</button>
    <button (click)="changeForm('update')" class="py-1 px-2 bg-gradient-to-br from-primary to-secondary rounded-full min-w-40 text-accent hover:cursor-pointer hover:contrast-125">Actualiza</button>
    <button (click)="changeForm('expand')" class="py-1 px-2 bg-gradient-to-br from-primary to-secondary rounded-full min-w-40 text-accent hover:cursor-pointer hover:contrast-125">Obtener URL</button>
  </div>

  @if (showform === 'create') {
    <app-create-link class="w-full" />
  }
  @if (showform === 'update') {
    <app-update-link class="w-full" />
  }
  @if (showform === 'expand') {
    <app-expand-link class="w-full" />
  }

</section>